<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
<header>
  <div class="small" id="header-scroll">
    <h1><a href="#" style="padding-left: 20px">KNUTE</a></h1>
    <nav>
      <ul>
        <li><a href="/schedule">Расписание</a></li>
        <li><a href="/homework">Домашнее задание</a></li>
        <li><a th:href="@{/profile/{login}(login=${login})}">Профиль</a></li>
        <li><a href="/links">Полезные ссылки</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Домашнее задание</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-dark table-hover">
          <thead>
          <tr style="text-align: center; width: 20px">
            <th>Tasks</th>
            <th>Deadline</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="homeworkAddDatabase : ${homeworkTasks}">
            <td th:text="${homeworkAddDatabase.task}"></td>
            <td th:text="${homeworkAddDatabase.deadline}"></td>
          </tr>
          </tbody>
        </table>
        <form th:action="@{/homework/add(subject=${subj})}" method="post">
          <input type="text" name="task" placeholder="Домашнее задание">
          <input type="date" name="deadline" placeholder="Крайний срок сдачи">
          <button type="submit">Добавить домашнее задание</button>
        </form>
      </div>
    </div>
    <span th:text="${subj}"></span>
  </div>
</section>

</body>
</html>