<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Links</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
<header>
  <div class="small" id="header-scroll">
    <h1><a href="#" style="padding-left: 20px">KNUTE</a></h1>
    <nav>
      <ul>
        <li><a href="/schedule">Расписание</a></li>
        <li><a href="/homework">Домашнее задание</a></li>
        <li><a th:href="@{/profile/{login}(login=${login})}">Профиль</a></li>
        <li><a href="/links">Полезные ссылки</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="ftco-section">
  <div class="container">
    <div>
      <div th:text="${firstname}"></div>
      <div th:text="${surname}"></div>
      <div th:text="${login}"></div>
      <div th:text="${email}"></div>
      <div th:text="${faculty}"></div>
      <div th:text="${course}"></div>
      <div th:text="${group}"></div>
    </div>
  </div>
</section>