<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
<header>
    <div class="small" id="header-scroll">
        <h1><a href="#" style="padding-left: 20px">KNUTE</a></h1>
        <nav>
            <ul>
                <li><a href="/schedule">Расписание</a></li>
                <li><a href="/homework">Домашнее задание</a></li>
                <li><a th:href="@{/profile/{login}(login=${login})}">Профиль</a></li>
                <li><a href="/links">Полезные ссылки</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Расписание на первую неделю</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <table class="table table-bordered table-dark table-hover">
                        <thead>
                        <tr style="text-align: center; width: 20px">
                            <th>#</th>
                            <th>Время</th>
                            <th>Понедельник</th>
                            <th>Вторник</th>
                            <th>Среда</th>
                            <th>Четверг</th>
                            <th>Пятница</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="f_fit : ${subjects}">
                            <th th:text="${f_fit.subject}" scope="row"></th>
                            <td th:text="${f_fit.time}"></td>
                            <td th:text="${f_fit.monday}"></td>
                            <td th:text="${f_fit.thursday}"></td>
                            <td th:text="${f_fit.wednesday}"></td>
                            <td th:text="${f_fit.thursday}"></td>
                            <td th:text="${f_fit.friday}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section" style="padding-top: 65px">Расписание на вторую неделю</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                    <tr style="text-align: center; width: 20px">
                        <th>#</th>
                        <th>Время</th>
                        <th>Понедельник</th>
                        <th>Вторник</th>
                        <th>Среда</th>
                        <th>Четверг</th>
                        <th>Пятница</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f_fit : ${subjects}">
                        <th th:text="${f_fit.subject}" scope="row"></th>
                        <td th:text="${f_fit.time}"></td>
                        <td th:text="${f_fit.monday2}"></td>
                        <td th:text="${f_fit.tuesday2}"></td>
                        <td th:text="${f_fit.wednesday2}"></td>
                        <td th:text="${f_fit.thursday2}"></td>
                        <td th:text="${f_fit.friday2}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>